[buildout]
develop = .
parts = devpython test moai_scripts
eggs = MOAI
       cherrypy
       sphinx==0.5.2
       repoze.sphinx.autointerface==0.1.3

[moai]
configuration_profile = example_configuration
#configuration_profile = simple_dc_configuration
extension_modules = moai.extensions
                    moai.examples
                    moai.examples.simple

[example_configuration]
path = ${buildout:directory}/src/moai/examples/example_data
host = localhost
port = 8080

[simple_dc_configuration]
path = ${buildout:directory}/src/moai/examples/simple/data
host = localhost
port = 8080

[example_plugin]
hello = world

[moai_scripts]
recipe = zc.recipe.egg
scripts =  update_database
           start_development_server
           generate_modpython_config
arguments = "${buildout:directory}/buildout.cfg", "${moai:configuration_profile}", """${moai:extension_modules}""".splitlines()
eggs = ${buildout:eggs}

[devpython]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}
       
[test]
recipe = zc.recipe.testrunner
eggs = MOAI
defaults = ['-v']


